---
homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret homeassistant.latitude
  longitude: !secret homeassistant.longitude
  country: US
  currency: USD
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 349
  unit_system: us_customary
  time_zone: America/New_York
  customize: !include customize.yaml
  packages: !include_dir_named packages
  external_url: !secret http.base_url
  internal_url: !secret http.base_url
  auth_providers:
    - type: command_line
      command: /usr/local/bin/ldap-auth.sh
      args: ["/usr/local/bin/home-assistant.cfg"]
      meta: true

# Enables the frontend
frontend:
  themes: !include_dir_named themes

# Enables configuration UI
config:

http:
  # Uncomment this if you are using SSL or running in Docker etc
  use_x_forwarded_for: true
  trusted_proxies: !secret http.trusted_proxies
  ip_ban_enabled: false
  login_attempts_threshold: 3

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

recorder:
  db_url: !secret recorder.db_url
  auto_purge: false

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:

# Track the sun
sun:

system_health:

# Text to speech
tts:
  platform: google_translate

automation: !include automations.yaml
automation old: !include_dir_list automations

default_config:

script: !include scripts.yaml
